h4 {
    color: white;
    margin: 0px;
}

.input{
    /* margin-bottom: 10px; */
    width: 100%;
}

#message {
    min-height: 400px;
}

#submit {
    background-color: #252526;
    border-color: white;
    color: white;
    margin-top: 10px;
    width: auto;
}

.input + p {
    visibility: hidden;
    height: 0px;
    margin: 0px;
    margin-bottom: 10px;
    color: red;
}

.input.invalid + p {
    visibility: visible;
    height: 21px;
}