:root {
    --img-wh: 50px;
}

footer {
    background-color: #252525;
    display: flex;
    justify-content: center;
}

footer a > img {
    filter: invert(100%);
    opacity: 50%;
    height: var(--img-wh);
    padding: 5px;
}

footer a > img:hover {
    opacity: 100%;
}