header {
    background-color: #3C3C3C;
    display: flex;
    align-items: center;
}

header h1 {
    color: #FFFFFF;
    margin: 0px;
    padding: 10px;
    flex: 1 1 0;
}

header .highlight {
    color: #FFFFFF;
}


header h2 {
    color: #CCCCCC;
    margin: 0px;
    padding: 10px;
}

header a {
    text-decoration: none;
}

header a > h2:hover {
    color: #FFFFFF;
}